<div id="amDocUpload" class="col-md-12">
	<form id="amDocUploadForm">
		<div class="alert alert-success display-hide">
	        <button class="close" data-close="alert"></button>
	        Successfully uploaded the document.Click on SAVE after uploading all documents
	    </div>
		<div class="col-md-1">
			<span class="viewsdiv2"><a	href="javascript:void(0);" id="showUploadRow" title="Add more doc"><i class="fa fa-plus-circle"></i></a></span> 
			<span class="display-none hidesdiv2"><a	href="javascript:void(0);" id="hideUploadRow" title="Remove doc"><i class="fa fa-minus-circle"></i></a></span>
		</div>
		<div class="col-md-4" id="docType"></div>
		<div class="col-md-5 margin-bottom-10">
			<input name="document" class="form-control" type="file" style="padding-bottom: 40px;" multiple="true">
		</div>
		<div class="col-md-2 margin-bottom-10">
		<button type="button" class="btn blue" id="saveAMDocs">Upload</button>
		</div>
	</form>
</div>
