
<div class="page-content">
	<div class="dash-header">
		<div class="">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				Asset Servicing Dashboard <br><small class="marg_top10">asset details and more</small>
			</h3>
		</div>
	</div>
	<div id="dashboardFailure" class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<text>Error fetching dashboard details.</text>
	</div>
	<!-- BEGIN DASHBOARD STATS -->
<div id="assetDashboardData"></div>
<div class="clearfix"></div>
<div class="row ">

	<div  id="hilData" class="col-md-6 col-sm-6">

	</div>
	<div  id="investorData" class="col-md-6 col-sm-6">

	</div>
	
</div>
<div class="row ">
	<div class="col-md-12 col-sm-12">
		<div id="pieChartDiv"></div>
	</div>
</div>
<div class="clearfix"></div>


</div>