<div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                </button>
                                <h4 class="modal-title">
                                    Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">
                                    Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">
                                    Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADING-->
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            <i class="fa fa-lock pull-left font25 marg_top10"></i>Change Password
                        </h3>
                    </div>
                </div>
                <!-- END PAGE HEADING-->
                
                <!-- Start Search section -->
                <div class="row marg_top20">
                    <div class="col-md-12">
                        <!-- Existing contract table start -->
                        
                         <div class="lightbor1">
                <form action="#" id="changePasswordForm">
					<div id="alertPasswordChangeFailure"
						class="alert alert-danger display-hide">
						<button class="close" data-close="alert"
							onclick="$(this).parent().hide();return false;"></button>
						Error in changing password.
					</div>
          <div id="alertNewPasswordPatternFailure"
            class="alert alert-danger display-hide">
            <button class="close" data-close="alert"
              onclick="$(this).parent().hide();return false;"></button>
            New Password does not match the requirement.
          </div>
          <div id="alertOldPasswordMismatch"
            class="alert alert-danger display-hide">
            <button class="close" data-close="alert"
              onclick="$(this).parent().hide();return false;"></button>
            Old(Current) password is not matched.
          </div>
					<div id="alertPasswordMismatchFailure"
						class="alert alert-danger display-hide">
						<button class="close" data-close="alert"
							onclick="$(this).parent().hide();return false;"></button>
						Passwords don't match.
					</div>
					<div id="alertPasswordChangeSuccess"
						class="alert alert-success display-hide">
						<button class="close" data-close="alert"
							onclick="$(this).parent().hide();return false;"></button>
						Successfully changed password.
					</div>
					<div class="row">
                    <div class="col-md-10">
                      <div class="form-group">
                      <label class="col-md-1"></label>
                        <label class="control-label col-md-4">Current Password <span class="required">*</span> 
                        </label>
                        <div class="col-md-7">
                          <input type="password" name="current_password" id="current_password" value="" class="form-control srch" placeholder="Current Password" />
                        </div>
                      </div>
                      <div class="clearfix"></div>

                      
                      <div class="form-group margin-top-10">
                         <label class="col-md-1"></label>
                        <label class="control-label col-md-4">New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-7">
                          <input type="password" name="new_password" id="new_password" class="form-control srch" placeholder="New Password" />
                        </div>
                      </div>
                      <div id="pswd_info">
                          <h4>Password must meet the following requirements:</h4>
                          <ul>
                              <li id="letter" class="invalid">At least <strong>one lowercase letter</strong></li>
                              <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                              <li id="number" class="invalid">At least <strong>one number</strong></li>
                              <li id="special" class="invalid">At least <strong>one special letter(!,@,#,$,%,^,&,*,?,_,~,-)</strong></li>
                              <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                      
                      <div class="form-group margin-top-10">
                      <label class="col-md-1"></label>
                        <label class="control-label col-md-4">Confirm Password <span class="required">*</span></label>
                        <div class="col-md-7">
                          <input type="password" name="confirm_password" id="confirm_password" value="" class="form-control srch" placeholder="Confirm Password" />
                        </div>
                      </div>  
                      
                      
                      
                      
                    </div>
                    
                    <div class="clearfix"></div>
                     <div class="form-actions fluid">
                        <div class="col-md-12" align="center">
                            <!-- <button id="save_password" class="btn blue" type="button">Save</button>-->
                            <input type="submit" value="Save" class="btn blue">
                             <button id="cancel" class="btn default" type="button">Cancel</button>
                        </div>
                    </div>
                    
                  
                    </div>
             
                </form>
                </div>
                          <!-- Existing contract table start -->
                         
                    </div>
                </div>
                <!-- Start Search section -->
                
</div>