	<a data-toggle="modal" href="propertyHoa" class="btn default pull-right marg_right10">HOA</a>
	<a data-toggle="modal" href="propertyTax" class="btn default pull-right marg_right10">Property Tax</a>
	<a data-toggle="modal" href="propertyInsurance" class="btn default pull-right marg_right10">Insurance</a>
	<a data-toggle="modal" href="addPropertyUnits" class="btn default pull-right  marg_right10">Add Property Units</a>
	<a data-toggle="modal" href="initialRehab" data-rehabid="<%= initialRehabId %>" class="btn default pull-right marg_right10">Initial Rehab</a>
	