<div class="col-md-12 closingResultDiv">
	<!-- Existing contract table start -->
	<div class="table table-responsive panel">
		<table
			class="table table-advance tablegreen" style="table-layout: fixed; width:100%;"
			id="myClosingsTable">
			<thead>
				<tr>
					<th class="fontnml" style="text-align: center;">PROPERTY</th>
					<th class="fontnml" style="text-align: center;">INVESTOR</th>
					<th class="fontnml" style="text-align: center;">START DATE</th>
					<th class="fontnml" style="text-align: center;">OPTION EXPIRES</th>
					<th class="fontnml" style="text-align: center;">CLOSING DATE</th>
					<th class="fontnml" style="text-align: center;">STATUS</th>
				</tr>
			</thead>
			<% if(templateData) { %> 
				<% _.each(templateData, function( singleData){ %>
					<tr>
		
						<td style="border-left: none;word-wrap: break-word;">
							<div>
								<img src="<%- singleData.propertyInfo.photoLink %>" border="0" class="pull-left marg_right10 img1class" alt="Image">
								<a href="#property/<%- singleData.propertyInfo.propertyId%>" class="darkcolor dottext propNameTooltip font13" style="margin-bottom:0px;" data-toggle="tooltip" title="<%= singleData.propertyInfo.address %>">
					                <%- singleData.propertyInfo.address %>
				              	</a>
								<span class="lightfontcolor font13">
									<%if(singleData.propertyInfo.propertyType) {%> <%-singleData.propertyInfo.propertyType %>, <%}%> 
									<%- singleData.propertyInfo.otherDetails %>
									<%if(singleData.propertyInfo.propertyDisplayId) {%> <br> <%-singleData.propertyInfo.propertyDisplayId %> <%}%> 
								</span>
							</div>
						</td>
						<td><%- singleData.investorName %></td>
						<td><%- singleData.closingStartDate %></td>
						<td><%- singleData.optionPeriodExpires %></td>
						
						<%if(singleData.closingEndDate){%> 
							<td><%- singleData.closingEndDate %></td> 
						<%} else {%> 
							<td	style="color: #0D638F;font-style: italic;"><%-	singleData.estimatedClosingDate %></td>
						<%}%>
						
						<td><a href="#closing/<%- singleData.investmentId %>" id="redirectUrl"> <!-- <%- singleData.investmentStatus %>- -->
								<%- singleData.closingStatus %>
						</a></td>
					</tr>
				<% }); %> 
			<% }else{ %>
				<tr>No Data Available
				</tr>
			<%}%>
		</table>
	</div>
</div>