							<label style="text-align: left;"
								class="control-label margin-bottom-5">Company Address:<span
								class="required">* </span></label>

							<div
								style="background-color: rgba(134, 134, 134, 0.0901961); padding-top: 6px;"
								class="col-md-12">
								<div class="row  margin-top-10">
									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">Address
												1<span class="required">*</span>
											</label>
											<div class="col-md-9">
												<input type="text"  class="form-control text-right"
													placeholder="" name="address1" value="<%- company.address1 %>">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">Address
												2</label>
											<div class="col-md-9">
												<input type="text"  class="form-control text-right"
													placeholder="" name="address2" value="<%- company.address2 %>">
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">City</label>
											<div class="col-md-9">
												<input type="text"  class="form-control text-right"
													placeholder="" name="city" value="<%- company.city %>">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">State</label>
											<div class="col-md-9">
												<div class="state"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">Postal
												Code</label>
											<div class="col-md-9">
												<input type="text"  class="form-control text-right"
													placeholder="" name="postalCode" value="<%- company.postalCode %>">
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group showExistingAddress clearfix">
											<label class="col-md-3 control-label pad_leftright0">Phone
												No.:<span class="required">* </span>
											</label>
											<div class="col-md-9">
												<input type="text" class="form-control text-right"
													name="phone" value="<%- company.phone %>">
											</div>
										</div>
									</div>
								</div>
							</div>