<div id="evHoverPreview" class="" style="width: 300px; position:absolute; display: none;">
	<div class="thumbnail">
		<div class="caption">
			<div class="text-center" style="overflow-wrap: break-word;overflow: hidden;">
				<span id="previewCaption"></span>
				<span class="fa fa-times pull-right document-hide" style="position: relative;opacity: 0.3;font-size: 12px; padding-bottom: 2px;padding-right: 2px;cursor: pointer;"></span>
			</div>
		</div>
		<iframe id="EVTNviewer" src="" width="0" height="0" style="border: none; width: 280px; height: 240px; padding: 0px; display: none;">
		</iframe>
		<a target="_blank" href="" id="EVTNImgViewer" style="display: none;">
			<img style="max-height: 250px;" src="" alt="Loading Image.....">
		</a>
		<div class="grayblock" style="display: none;"></div>
	</div>
</div>