
<tr>
	<td>

		<div class="accountTypeDD"></div>
	</td>
	<td>
		<div class="accountDD"></div>
	</td>
	<td><input type="text" class="form-control" name="description"	></td>
	<td>
		<div class="input-group input-medium date date-picker"
			data-date-format="mm-dd-yyyy" data-date-viewmode="years"
			style="width: 160px !important;">
			<input class="form-control" readonly="" type="text"
				style="width: 120px;" name="transactionDate"> <span class="input-group-btn"
				style="float: left; width: 20px;">
				<button class="btn default" type="button">
					<i class="fa fa-calendar"></i>
				</button>
			</span>
		</div>
	</td>
	<td><span class="left121"> <input
			type="text" class="form-control termianl1 currencyTable" name='debitAmt' value='' /></span></td>
	<td class="text-right"><span class="right121"> <input type="text"
			class="form-control termianl1 currencyTable" name='creditAmt' value='' /></span></td>

</tr>