<div class="row">

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Investor Name:</label>
				<div class="col-md-5">
					<p class="form-control-static"><%= headerInfo.investorName %></p>
				</div>
			</div>
		</div>
		<!--/span-->
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Home Address:</label>
				<div class="col-md-5">
					<p class="form-control-static"><%= headerInfo.homeAddress %></p>
				</div>
			</div>
		</div>
		<!--/span-->
	</div>


	<div class="row">
		
		<!--/span-->
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Property Address:</label>
				<div class="col-md-5">
					<p class="form-control-static"><%= headerInfo.propertyAddress
						%></p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Profession:</label>
				<div class="col-md-5">
					<p class="form-control-static"><%= headerInfo.profession %></p>
				</div>
			</div>
		</div>
		<!--/span-->
	</div>

	<div class="row">
		
		<!--/span-->
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Buyer's Agent:</label>
				<div class="col-md-5">
					<p class="form-control-static"><%= headerInfo.ilmInfo %></p>
				</div>
			</div>
		</div>
		<!--/span-->
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-5">Quoted Insurance Amount:</label>
				<div class="col-md-5">
					<p class="form-control-static amount"><%= headerInfo.quotedInsuranceAmount %></p>
				</div>
			</div>
		</div>
	</div>