 <!--start Insurance quote dialog box-->
    <div class="modal fade bs-modal-lg" id="INSURANCE_QUOTE_REQUEST_POPUP_1" tabindex="-1" role="basic" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content ins-quo">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    </button>
                    <h3 class="modal-title">
                        Insurance Quote</h3>
                </div>
                <div class="modal-body table-responsive">
                <div class=" form-horizontal">
                <div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">Investor Name:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	 Bob
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">Date of Birth:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	1/1/1960
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
                                                
                                                <div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">SSN:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	111-222-3333
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">Marital Status:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	Married
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
				
                <div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">Home Address:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	123 Abc St, 
Irvine CA 92604
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-5">Property Address:</label>
															<div class="col-md-5">
																<p class="form-control-static">
																	789 Xyz St, 
Irvine CA 92604
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Profession:</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        Doctor
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Buyer's Agent:</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        Brian Moore<br>
                                        <a href="#">brian@homeunion.com</a><br>
                                        (111)222-3333
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
					
				<div class="clearfix"></div>
                <div id="accordion2" class="panel-group accordion scrollable">
                   
                </div>

                <!--<a id="add_item" class="marg_top20">Add</a>-->
                <a id="add_quote" class="btn green" >Add New Quote</a>
					

               
					</div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn default" type="button">Cancel</button>
                    
                    <button class="btn blue" type="button">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--ends insurance quote dialog box-->