<div class="modal fade bs-modal-sm with-popover" id="POS_REPORT_POPUP_1"
	tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title" id="modalTitle"></h4>
			</div>
			<div class="modal-body"
				style="margin-left: 10px; margin-right: 10px;">
				<form class="milestone-form" method="post" id="">
					<input type="hidden" id="object" name="object"> <input
						type="hidden" id="objectId" name="objectId"> <input
						type="hidden" id="taskKey" name="taskKey">
						
					<div class="form-group repairRequired" >
                                <label class="control-label">POS Inspection Status </label>
                                <div class="radio-list form-control">
                                    <label class="radio-inline" style="padding-left: 0px !important;"> <span><input checked="" type="radio" id="optionsRadiosClear" name="repairRequired" value="Clear"></span> Clear
                                    </label> 
                                     <label class="radio-inline active" style="padding-left: 0px !important;"> <span><input  id="optionsRadiosRepairsRequired" type="radio" value="RepairsRequired" name="repairRequired"></span> Needs Repairs
                                    </label>
                                </div>
                     </div>
                     
                     <div class="form-group display-hide repairedBy" >
                                <label class="control-label">Who is responsible for POS Violations? </label>
                                <div class="radio-list form-control">
                                    <label class="radio-inline" style="padding-left: 0px !important;"> <span><input checked="" type="radio" id="optionsRadiosSeller" name="repairedBy" value="Seller"></span> Seller
                                    </label> 
                                     <label class="radio-inline active" style="padding-left: 0px !important;"> <span><input id="optionsRadiosBuyer" type="radio" value="Buyer" name="repairedBy"></span> Buyer
                                    </label>
                                </div>
                     </div>
                     
                     <div class="form-group display-hide isFundsReserved" >
                                <label class="control-label">Funds will be held in reserve</label>
                                <div class="radio-list form-control">
                                    <label class="radio-inline" style="padding-left: 0px !important;"> <span><input type="radio" id="optionsRadiosY" name="isFundsReserved" value="Y"></span> Yes
                                    </label> 
                                     <label class="radio-inline active" style="padding-left: 0px !important;"> <span><input checked="" id="optionsRadiosN" type="radio" value="N" name="isFundsReserved"></span> No
                                    </label>
                                </div>
                     </div>
                     
                     <div class="form-group escrowDepositDiv display-hide">
								<label class="control-label">Escrow Deposit Amount
									</label>
								<div class="">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
										<input class="form-control text-right currency" placeholder=""
											type="text" name="escrowDepositAmount">
									</div>
								</div>
					</div>	

					<div class="form-group">
						<label class="control-label" style="text-align: left;">
							Completion Date <span class="required">* </span>
						</label>
						<div class="input-group input-medium date date-picker"
							data-date="" data-date-format="mm-dd-yyyy"
							data-date-viewmode="years">
							<input class="form-control" readonly="" placeholder=""
								type="text" id="endDate" name="endDate"> <span
								class="input-group-btn">
								<button class="btn default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					
					<div class="form-group">
							<label class="control-label"> Upload <span
								id="documentLabel"></span>
								<span class="required" id="posReportDocRequired">* </span>
							</label> <a class="fa fa-paperclip pull-right showDocumentTooltip"
								style="cursor: pointer; font-size: 16px;" data-html="true"
								data-show="true"> </a> 
								<br>
								<div id="posReportDocRequiredMsg" style="display: none;color: red;">This field is mandatory</div>
								<input name="document"
								class="form-control" type="file" style="padding-bottom: 40px;"
								id="document">
						</div>

					<div class="form-group">
						<label class="control-label"> Comments <a
							class="fa fa-comments-o pull-right showMessageTooltip"
							style="cursor: pointer; font-size: 14px;" data-html="true"
							data-show="true"> <i>Show past comments</i>
						</a>
						</label><br>

						<textarea class="form-control" style="height: 80px;" name="comments" id="comments"></textarea>
					</div>
					
				

					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn blue"
					id="milestonePopupSubmitButton">SAVE</button>
				<button type="button" id="cancelButton" class="btn default"
					data-dismiss="modal">CANCEL</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>