                <!-- START Property Recommended List lightbox -->
                <div class="modal fade" id="recommendedModal" tabindex="-1" role="basic"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" align="center">
                                         Add Properties to Recommended List</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                                <div id="generalInvestorError" class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <text>Error in performing the operation.</text>
                                                </div>
                                                <!-- END PAGE TITLE & BREADCRUMB-->
                                            </div>
                                    </div> 
                                       <span class="font15" id="address"> 2906 Percheron Lane,<br>
                                        Indianapolis, IN, 46237</span><br>

                                  
                                   <div class="form-body marg_top15">
                                   <label class="col-md-2" style="padding-left:0px; padding-top:7px;">Investor:</label> <label class="col-md-10"><input type="text" placeholder="First/Last Name" class="form-control isrch" id="investor_fname"></label>
                                  <div class="col-md-12 marg_top15" id="investorRSearch" propertyid="" leveragedPerc="" investmentAmt=""> <button class="btn bg-blue pull-right">Search</button></div>
                                   </div>
                             
                                   <div class="clearfix"></div>
                                   <div class="row"  id="investorWishlistSearchResults">

                                   
                                   </div>
                                   
                                   <div class="clearfix"></div>
                                   
                                   
                                   
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" id="addInvestor">
                                        Add</button>
                                        
                                         <button type="button"  class="btn default" data-dismiss="modal" id="closeInvestor">
                                        Cancel</button>
                                  
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->