<div class="panel-body table-responsive">
				<div id="toggleCol">
                </div>
				<div class="addbtnposition pull-right">
					<!-- <input id="add_selected" class="btn green" type="button" value="Add selected properties to the recommended list"> -->
					<a href="#wishlistmodal" data-toggle="modal" data-toggle="tooltip" class="btn btn-success marg_right10 textalignleft hopNameTooltip" title="Add Property to Recommended List"><i class="fa fa-plus"></i></a>
					<a id="ETESearchProperty" class="btn btn-primary pull-right hopNameTooltip icon-excel-15" data-toggle="tooltip" title="Export to Excel" data-placement="left">
				    </a>
				    <a href=""class="display-hide" id="ETEgetButton"></a> 
				</div>
				<table
					class="table table-bordered table-advance table-hover tablegreen"
					id="propertySearchResultsTable">
					<thead>
					</thead>
				</table>
</div>