<div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                </button>
                                <h4 class="modal-title">
                                    Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">
                                    Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">
                                    Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADING-->
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            <i class="fa fa-search pull-left font25 marg_top10"></i>Search/View
                        </h3>
                    </div>
                </div>
                <!-- END PAGE HEADING-->
                <!-- Start Search section -->
                <div class="row">
                
                
                
                    <div class="col-md-12">
                        <!-- Start Editable Search section -->
                        <div class="form-body">
                        <div class="row display-none" id="searchadvanced2" style="padding-left:15px; padding-right:15px;">
                            <div class="col-md-12 showhidesearch" >
                        <a href="javascript:void(0);" onClick="hideformdiv2();">Click to expand the search panel <i class="fa fa-angle-down btn bg-dark pad3_top_bot pad7_right_left"></i></a>
                        </div>
                        </div>
                        
                        <div class="row" id="searchadvanced1">
                            <form novalidate="novalidate" id="search_form">
                            
                            <!-- start section -->
                           <div class="terminal_main">
                            <div class="row marg_top15">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label6 texalignright">Financing</label>
                                        <div class="btn-group marg_left10" style="mar" data-toggle="buttons">
                                            <label class="btn btn-default leftradius active">
                                            <input class="toggle" name="financingType" id="style1" value="financed" checked="checked" type="radio">
                                                financed </label>
                                            <label class="btn btn-default ">
                                            <input class="toggle" name="financingType" id="style2" value="cash" type="radio">
                                            Cash </label>                              
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label6 texalignright">NIR <i title="" data-original-title="" data-content="Neighbourhood Investment Rating" data-placement="left" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                            <div class="col-md-6">
                                            <select name="nirValue" class="form-control">
                                            <option value="">Select</option>
                                            <option value="" selected>Any</option>
                                            <% _.each(nirLists,function(nir){ %>
                                                    <option value="<%- nir%>"><%- nir%></option>
                                            <% });  %>
                                        </select>
                							
                						
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row margin-bottom-15">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="col-md-4 control-label6 texalignright">HU Status <i title="" data-original-title="" data-content="Embrace Property Status" data-placement="left" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                            <div class="col-md-6">
                                            <select name="huStatusValue" class="form-control">
                                            <option value="">Select</option>
                                            <option value="" selected>Any</option>
                                            <% _.each(_.keys(huStatusList),function(huStatusKey){ %>
                                                    <option value="<%- huStatusKey %>"><%- huStatusList[huStatusKey] %></option>
                                            <% });  %>
                                        </select>
                                    </div>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label6 texalignright">Tag <i title="" data-original-title="" data-content="Tag for property" data-placement="left" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                            <div class="col-md-6">
                                            <select name="tagValue" class="form-control">
                                            <option value="">Select</option>
                                            <option value="" selected>Any</option>
                                            <% _.each(_.keys(propTagsList),function(tagKey){ %>
                                                    <option value="<%- tagKey %>"><%- propTagsList[tagKey] %></option>
                                            <% });  %>
                                        </select>
                                            
                                        
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>

                        
                            <div class="row margin-bottom-15">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        
                                        <div class="row">
                                            <div class="form-group">
                                            <label class="col-md-4 control-label6 texalignright">Investment Amount</label>
                                            <div class="col-md-3">
                                                <input placeholder="From" name="investmentPrice1" id="price1" value="" class="form-control srch" type="text">
                                            </div>
                                            <div class="col-md-3">
                                                <input placeholder="To" name="investmentPrice2" id="price2" value="" class="form-control srch" type="text">
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        
                                        <div class="row">
                                        <div class="form-group">
                                        <label class="col-md-4 control-label6 texalignright">List Price</label>
                                        <div class="col-md-3">
                                            <input placeholder="From" name="fromListPrice" id="Listprice1" value="" class="form-control srch" type="text">
                                        </div>
                                        <div class="col-md-3">
                                            <input placeholder="To" name="toListPrice" id="Listprice2" value="" class="form-control srch" type="text">
                                        </div>
                                        </div>
                                    </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        
                                        <div class="row">
                                            <div class="form-group">
                                            <label class="col-md-4 control-label6 texalignright">Monthly Cash-flow</label>
                                            <div class="col-md-3">
                                                <input placeholder="From" name="cashFlow1" id="cashflow1" value="" class="form-control srch" type="text">
                                            </div>
                                            <div class="col-md-3">
                                                <input placeholder="To" name="cashFlow2" id="cashflow2" value="" class="form-control srch" type="text">
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        <div class="row">
                                            <div class="form-group">
                                            <label class="col-md-4 control-label6 texalignright">Year Built</label>
                                            <div class="col-md-3">
                                                <input placeholder="From" name="yearBuilt1" id="year1" value="" class="form-control srch" type="text">
                                            </div>
                                            <div class="col-md-3">
                                                <input placeholder="To" name="yearBuilt2" id="year2" value="" class="form-control srch" type="text">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="clearfix marg_top10"></div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Yield % </label>
                                                <div class="col-md-3">
                                                <input placeholder="From" name="fromReturnVal" id="returnval1" value="" class="form-control srch" type="text">
                                                </div>
                                                
                                                <div class="col-md-3">
                                                <input placeholder="To" name="toReturnVal" id="returnval2" value="" class="form-control srch" type="text">
                                            </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Appreciation %</label>
                                                <div class="col-md-3">
                                                    <input placeholder="From" name="fromAppreciationVal" id="appreciation1" value="" style="width: 100px;" class="form-control srch" type="text">
                                                </div>
                                                
                                                <div class="col-md-3">
                                                <input placeholder="To" name="toAppreciationVal" id="appreciation2" value="" style="width: 100px;" class="form-control srch" type="text">
                                              </div>
                                                
                                                
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        <div class="row">
	                                        <div class="form-group">
	                                    						<label class="col-md-4 control-label6 texalignright" > Added in Inventory </label>
                        								<div class="col-md-3">
                                    						<div class="input-group input-medium date date-picker"
                                    							data-date="" data-date-format="mm-dd-yyyy"
                                    							data-date-viewmode="years">
                                    							<input class="form-control"style="width: 100px;" readonly="" placeholder="From date"
                                    								type="text" id="frominventoryDate" name="frominventoryDate"> <span
                                    								class="input-group-btn display-hide" style="vertical-align: top;">
                                    								<button class="btn default" type="button">
                                    									<i class="fa fa-calendar"></i>
                                    								</button>
                                    							</span>
                                    						</div>
                                						</div>
                                						
                                						<div class="col-md-3">
                                						<div class="input-group input-medium date date-picker"
                                							data-date="" data-date-format="mm-dd-yyyy"
                                							data-date-viewmode="years">
                                							<input class="form-control"style="width: 100px;" readonly="" placeholder="To date"
                                								type="text" id="toinventoryDate" name="toinventoryDate"> 
                                							<span
                                								class="input-group-btn display-hide" style="vertical-align: top;">
                                								<button class="btn default" type="button">
                                									<i class="fa fa-calendar"></i>
                                								</button>
                                							</span>
                                							</div>
                                							
                                    						</div>
                                							<div class="col-md-1">
                                							<button type="button" id="resetDate" class="btn  btn-sm" style="margin-right:5px; margin-left:-5px; margin-top:3px">
                                                            <img src="assets/img/sidebar-search-close-brown.png">
                                                            </button>
                                                            </div>
                                				
                        					</div>
                    					</div>
                                        
                                        
                                        <div class="clearfix marg_top10"></div>
                                        
                                        <div class="row">
                                            <div class="form-group marg_left100">
                                                <div class="col-md-12">
                                                <label class="col-md-6 marg_top10">Show Not Available <i title="" data-original-title="" data-content="Show Not Available" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="showNotAvail" id="showNotAvail" value="true" class="srch" type="checkbox" style="height:13px;margin-left:30px"> </label> 
                                                    
                                                <label class="col-md-6 marg_top10">Show Hot Properties Only <i title="" data-original-title="" data-content="Show Hot Properties Only" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="hotPropOnly" id="hotPropOnly" value="true" class="srch" type="checkbox" style="height:13px;margin-left:20px"> </label>
                                                </div>
                                                <div class="col-md-12"> 
                                                <label class="col-md-6 marg_top10">Shown SDIRA Only <i title="" data-original-title="" data-content="Shown SDIRA Only" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="showSDIRAOnly" id="showSDIRAOnly" value="true" class="srch" type="checkbox" style="height:13px;margin-left:35px"> </label>
                                                <label class="col-md-6 marg_top10">Show Tenanted Only <i title="" data-original-title="" data-content="Show Tenanted Only" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="tenantedOnly" id="tenantedOnly" value="true" class="srch" type="checkbox" style="height:13px;margin-left:55px"> </label>
                                                </div>
                                                <div class="col-md-12"> 
                                                <label class="col-md-6 marg_top10">Show Pre-select Only <i title="" data-original-title="" data-content="Show Pre-select Properties Only" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="preSelectOnly" id="preSelectOnly" value="true" class="srch" type="checkbox" style="height:13px;margin-left:20px"> </label>    
                                                <label class="col-md-6 marg_top10">Shown On Investor Portal <i title="" data-original-title="" data-content="Shown Only Properties that are shown On Investor Portal" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers tooltips"></i> <input name="onInvestorPortalOnly" id="onInvestorPortalOnly" value="true" class="srch" type="checkbox" style="height:13px;margin-left:23px"> </label>  
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top15"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div clas="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Zone <i title="" data-original-title="" data-content="Location Zone Value" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-6">
                                                    <input name="propertyZone" id="zone" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix marg_top10"></div>
                                        <div clas="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Source <i title="" data-original-title="" data-content="Property Source" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-6">
                                                    <input name="propertySource" id="psource" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top10"></div>
                                        <div clas="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Address <i title="" data-original-title="" data-content="Address" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-6">
                                                    <input name="propertyAddress" id="address" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top10"></div>
                                    
                                       
                                        <div clas="row">
                                        
                                               <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">City <i title="" data-original-title="" data-content="City" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-3">
                                                    <input name="propertyCity" id="city" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                         <div class="clearfix marg_top10"></div>
                                         <div clas="row">
                                             <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">State <i title="" data-original-title="" data-content="State" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-3">
                                                    <input name="propertyState" maxlength="2" size="2" id="state" value="" class="form-control srch texalignleft" type="text">
                                                </div>
                                            </div>
                                         </div>
                                        
                                        
                                        
                                        <div class="clearfix marg_top10"></div>
                                        <div clas="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright">Zip <i title="" data-original-title="" data-content="Zip" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-3">
                                                    <input name="propertyZip" id="zip" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top10"></div>
                                        <div clas="row">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label6 texalignright" style="padding-right:15px;">Property Display Id <i title="" data-original-title="" data-content="Property Display Id" data-placement="top" data-trigger="hover" class="fa fa-question-circle popovers"></i></label>
                                                <div class="col-md-3">
                                                    <input name="propertyDisplayId" id="displayId" value="" class="form-control srch" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top10"></div>
                                        <div clas="row">
                                            <div class="form-group marg_top10">
                                                <label class="col-md-4 control-label6 texalignright">Property Types</label>
                                                <div class="btn-group marg_left15" data-toggle="buttons">
                                                    <label class="btn btn-default  active">
                                                        <input type="radio" name="propType" checked="checked" class="toggle" value="all"> ALL 
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="propType" class="toggle" value="sfh"> SFH <span class="inline-block"><div class="prop-type"><div class="realEstatetIcon prop-type-size sfh-icon"></div></div></span>
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="propType" class="toggle" value="mu"> MU <span class="inline-block"><div class="realEstatetIcon prop-type-size mu-icon"></div></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group marg_top10">
                                                <label class="col-md-4 control-label6 texalignright">Property Sale Types</label>
                                                <div class="btn-group marg_left15" data-toggle="buttons">
                                                    <label class="btn btn-default  active">
                                                        <input type="radio" name="propSaleType" checked="checked" class="toggle" value="all"> ALL 
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="propSaleType" class="toggle" value="std"> STD <span class="inline-block"><div class="prop-type-icon"><img src= "<%- domainLink %>/assets/img/std-icon.png"></div></span>
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="propSaleType" class="toggle" value="reo"> REO <span class="inline-block"><div class="prop-type-icon"><img src="<%- domainLink %>/assets/img/reo-icon.png"></div></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix marg_top15"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-5">
                               <div class="col-md-7">
                                    <div class="margin-top-10">
                                        <input name="submit" id="searchProperty" value="Search" class="btn blue btn-sm pull-right">
                                    </div>
                              </div>
                            </div>
                      </div> <!-- end terminal_main-->
                            </form></div> <!-- end searchadvanced1 -->
                        </div>
                        <!-- end Advanced search 1 -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                <div id="generalError" class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    <text>Error in performing the operation.</text>
                                </div>
                                <!-- END PAGE TITLE & BREADCRUMB-->
                            </div>
                        </div>
                        <!-- End Search section -->
                        <div class="row">
                            <div class="col-md-12" >
                                <h4>
                                    <i class="fa fa-search pull-left font25" style="margin-top:5px;"></i>Search Result Property
                                </h4>
                            </div>
                        </div>
                        <!-- Start Editable Search section -->
                        <div class="row"  id="searchResults">
                        </div>
                    <!-- Start Editable Search section -->
                </div>
                 
                 
                <div class="clearfix">
                </div>
                <div id="propertySearchAddSelectedDiv"></div>
                <!-- START Property Wishlist lightbox -->
                <div class="modal fade" id="wishlistmodal" tabindex="-1" role="basic"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" align="center">
                                         Add Property to Recommended List</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                                <div id="generalInvestorError" class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <text>Error in performing the operation.</text>
                                                </div>
                                                <!-- END PAGE TITLE & BREADCRUMB-->
                                            </div>
                                    </div> 
                                       <span class="font15" id="address"> 2906 Percheron Lane,<br>
                                        Indianapolis, IN, 46237</span><br>

                                  
                                   <div class="form-body marg_top15">
                                   <label class="col-md-2" style="padding-left:0px; padding-top:7px;">Investor:</label> <label class="col-md-10"><input type="text" placeholder="First/Last Name" class="form-control isrch" id="investor_fname"></label>
                                  <div class="col-md-12 marg_top15" id="investorRSearch" propertyid="" leveragedPerc="" investmentAmt=""> <button class="btn bg-blue pull-right">Search</button></div>
                                   </div>
                             
                                   <div class="clearfix"></div>
                                   <div class="row"  id="investorWishlistSearchResults">

                                   
                                   </div>
                                   
                                   <div class="clearfix"></div>
                                   
                                   
                                   
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" id="addInvestor">
                                        Add</button>
                                        
                                         <button type="button"  class="btn default" data-dismiss="modal" id="closeInvestor">
                                        Cancel</button>
                                  
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END Property Wishlist lightbox -->
            </div>
</div>
<script type="text/javascript">
    jQuery('.popovers').popover({
            trigger:'hover',
            'placement': 'top'
    });
</script>    
