<div class="col-md-12 grey-well clearfix">
      <div class="input-group col-md-6 col-sm-6 pull-left">
      <div class="col-md-12">
        <div class="input-cont col-md-9 col-sm-9">
          <!-- <div id="propertyAutoSuggestDD"></div> -->
        	<input type="hidden" name="propertyAutoSuggestDD" id="propertyAutoSuggestDD" class="form-control disable-needed">
        </div>
        <div class="input-group-btn col-md-3 col-sm-3" style="vertical-align: top;">
	        <button class="btn blue" id="addPropertyToOpportunity" type="button" style="margin-left:-15px;">
	        	Add Property
	        	<i class="m-icon-swapright m-icon-white margin-left-5"></i> 
	    	  </button>
        </div>
      </div> 
      </div>
      <div class="input-group col-md-6 col-sm-6">
      <div class="col-md-12">
        <div class="pull-right_1 col-md-3 col-sm-3"><a data-toggle="modal" href="#editInvestmentZone" class="btn bg-blue  marg_right10" data-opportunity= "<%=opportunityId%>">New Zone</a>
        </div>
        <div class="pull-right_1 col-md-9 col-sm-9" id="oppPropertyStatusSelect">  </div>
        
      </div>
      </div>
</div>