
<!-- start property inspection lightbox -->
<div class="modal fade bs-modal-sm with-popover" id="PROPERTY_RE_INSPECTION_POPUP_1"
	tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="width: 50%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title">Property Re-Inspection</h4>
			</div>
			<div class="modal-body">
				<form method="post" id="propertyReInspectionForm">
					<div>
						<input name="inspectionId" id="inspectionId" type="hidden" val=''>
					</div>
					<input type="hidden" id="object" name="object" /> <input
						type="hidden" id="objectId" name="objectId" /> <input
						type="hidden" id="taskKey" name="taskKey" />
					<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" style="text-align: left;">
								Start Date </label>
							<div class="input-group input-medium date date-picker"
								data-date="" data-date-format="mm-dd-yyyy"
								data-date-viewmode="years">
								<input class="form-control" readonly="" placeholder=""
									type="text" name="startDate"> <span
									class="input-group-btn">
									<button class="btn default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" style="text-align: left;">
								Completion Date </label>
							<div class="input-group input-medium date date-picker"
								data-date="" data-date-format="mm-dd-yyyy"
								data-date-viewmode="years">
								<input class="form-control" readonly="" placeholder=""
									type="text" name="endDate"> <span
									class="input-group-btn">
									<button class="btn default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					</div>

					<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label pad_leftright0">Re Inspection Fee</label>
							<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
									<input class="form-control text-right currency" placeholder=""
										type="text" name="inspectionFee">
							</div>
						</div>
					</div>
					
					


					<div class="col-md-6">
						<div class="form-group">
							<div id="existingDocument2"></div>
							<label class="control-label"> Upload 
								<span id="documentLabel"></span><span class="required">*</span>
							</label> <a class="fa fa-paperclip pull-right showDocumentTooltip_2"
								style="cursor: pointer; font-size: 16px;" data-html="true"
								data-show="true"> </a> <br> <input name="document"
								class="form-control" type="file" style="padding-bottom: 40px;">
						</div>
					</div>
					
				
					</div>

					<div class="col-md-12">
		
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label"> Comments <a
								class="fa fa-comments-o pull-right showMessageTooltip_2"
								style="cursor: pointer; font-size: 14px;" data-html="true"
								data-show="true"> <i>Show past comments</i>
							</a>
							</label><br>
	
							<textarea name="comments" class="form-control"></textarea>
						</div>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn blue"
					id="PopupRehabSubmitButton">SAVE</button>
				<button type="button" class="btn default" data-dismiss="modal">
					CANCEL</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end property inspection lightbox -->