				<div class="clearfix">
                </div>
                <!-- START Property Wishlist lightbox -->
                <div class="modal fade" id="wishlistInvModal" tabindex="-1" role="basic"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" align="center">
                                         Remove Investor from Wishlist</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                                <div id="generalError" class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <text>Error in performing the operation.</text>
                                                </div>
                                                <!-- END PAGE TITLE & BREADCRUMB-->
                                            </div>
                                    </div> 
                                  
                                   <div class="form-body marg_top15">
                                   	Are you sure you want to remove the investor from the WishList?
                                   </div>
                             
                                   <div class="clearfix"></div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" id="removeInvestor">
                                        Remove</button>
                                        
                                         <button type="button"  class="btn default" data-dismiss="modal" id="closeInvestor">
                                        Cancel</button>
                                  
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END Property Wishlist lightbox -->
                <!-- START Property Wishlist Ready to Invest lightbox -->
                <div class="modal fade" id="invToBuyModal" tabindex="-1" role="basic"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" align="center">
                                         Ready to Invest</h4>
                                </div>
                                <div class="modal-body">                                  
                                   <div class="form-body marg_top15">
                                   	<h4>Are you sure want to invest?</h4>
                                   </div>
                             
                                   <div class="clearfix"></div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" id="confirmInvest">
                                        Yes</button>
                                        
                                         <button type="button"  class="btn default" data-dismiss="modal">
                                        No</button>
                                  
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END Property Wishlist Ready to Invest lightbox -->
                <!-- START Initiate Closing lightbox -->
				<div class="modal fade" id="initiateclosing" tabindex="-1" role="basic"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"></button>
								<h4 class="modal-title">
									<i class="fa fa-times"></i> Initiate Closing
								</h4>
							</div>
							<div class="modal-body" id="initiateClosingDiv"></div>
							<div class="modal-footer">

								<button type="button" class="btn default" data-dismiss="modal">Cancel</button>

								<button type="button" class="btn blue" id="submitInitiateClosingWL">Initiate
									Closing</button>

							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- END Initiate Closing lightbox -->
				                <!-- START Property Wishlist lightbox -->
                <div class="modal fade" id="wishlistmodal2" tabindex="-1" role="basic"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" align="center">
                                         Add Property to Wishlist</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                                <div id="generalInvestorError" class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <text>Error in performing the operation.</text>
                                                </div>
                                                <!-- END PAGE TITLE & BREADCRUMB-->
                                            </div>
                                    </div> 
                                       <span class="font15" id="address"> 2906 Percheron Lane,<br>
                                        Indianapolis, IN, 46237</span><br>

                                  
                                   <div class="form-body marg_top15">
                                   <label class="col-md-2" style="padding-left:0px; padding-top:7px;">Investor:</label> <label class="col-md-10"><input type="text" placeholder="First/Last Name" class="form-control insrch" id="investor_fname"></label>
                                  <div class="col-md-12 marg_top15" id="investorSearch" propertyid="" leveragedPerc="" investmentAmt=""> <button class="btn bg-blue pull-right">Search</button></div>
                                   </div>
                             
                                   <div class="clearfix"></div>
                                   <div class="row"  id="investorWishlistSearchResults">

                                   
                                   </div>
                                   
                                   <div class="clearfix"></div>
                                   
                                   
                                   
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue" id="addWishInvestor">
                                        Add</button>
                                        
                                         <button type="button"  class="btn default" data-dismiss="modal" id="closeInvestor">
                                        Cancel</button>
                                  
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END Property Wishlist lightbox -->
 <div class="portlet-body table-responsive">
 				<div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                <div id="generalError" class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    <text>Error in performing the operation.</text>
                                </div>
                                <!-- END PAGE TITLE & BREADCRUMB-->
                            </div>
                </div>
				<table
					class="table table-striped table-bordered table-advance table-hover tablegreen"
					id="propertyWishlistTable">
					<thead>
					</thead>
				</table>
				<div align="right">
				<a href="#wishlistmodal2" data-toggle="modal" class="btn blue"><i class="fa fa-plus"></i> Add to Wishlist</a>
				</div>
</div>                                           
                                            