<div class="page-content">
	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

	<!-- /.modal -->
	<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<!-- BEGIN PAGE HEADING-->
	<div class="dash-header">
		<div class="">
			<h3 class="page-title">
				<i class="fa fa-building-o pull-left"></i>Asset
				Details
			</h3>
		</div>
	</div>
	<!-- END PAGE HEADING-->
	<!-- BEGIN PAGE HEADING 1-->
	<div class=" panel" id="propertyDetailHeader">




	</div>
	 <!-- start Edit change section 6 -->
	 					<div class="col-md-12">
	 						<div id="currentRemarks" class="col-md-4 with-popover" style="margin-top: 2px;"></div>
	 					
						<div class="col-md-8 pull-right text-right"> 
							 <a data-toggle="modal" href="assetspropertyHoa" class="btn default pull-left margin-bottom-10 margin-top-10 marg_right10">HOA</a>
							 <a data-toggle="modal" href="assetspropertyTax" class="btn default pull-left margin-bottom-10 margin-top-10 marg_right10">Property Tax</a>
							 <a data-toggle="modal" href="assetspropertyInsurance" class="btn default pull-left margin-bottom-10 margin-top-10 marg_right10">Insurance</a>
							 <a data-toggle="modal" href="assetsaddPropertyUnits" class="btn default pull-left margin-bottom-10 margin-top-10 marg_right10">Add Property Units</a>
							 <a data-toggle="modal" href="assetsInitiateMarketing" class="btn default pull-left margin-bottom-10 margin-top-10 marg_right10">Initiate Marketing</a>
                        </div>
                         <div id="assetHeaderAccordion" class="panel-group col-md-12" style="margin-bottom: 0px;">
	                                    <div class="tools pull-left clearfix marg_top10">
	                                        <a data-toggle="collapse" data-parent="#assetHeaderAccordion" href="#collapseOne"
	                                           style="text-decoration:none; font-size: 17px;">More Details &nbsp;
	                                            <i class="fa fa-chevron-down" style="font-size: 12px;"></i>
	                                        </a>
	                                    </div>


	                            <div id="collapseOne" class="panel-collapse collapse col-md-12">
	                                <div class="panel-body">
	                                    <div id="transMemsDiv"></div>
	                                </div>
	                            </div>
	                </div>
                        </div>
						 	<!-- END PAGE HEADING 1-->
	<!-- Start Search section -->

	<div class="panel clearfix">
		<div class="col-md-12 panel-body">
			<!-- Tab Start -->
			<div class="tabbable">
				<ul class="nav nav-tabs1">
					<li class="" name="propertyNav"><a href="#AMAgreements" data-toggle="tab" id="AMAgreements"><i
							class="fa fa-file-text pull-left font14 marg_top4"> </i>AMAgreements </a></li>
					<li  class="active" name="propertyNav"><a href="#financials" data-toggle="tab" id="financial"><i
							class="fa fa-building-o pull-left font14 marg_top4"> </i>Financials
					</a></li>
					<li class="" name="propertyNav"><a href="#leases" data-toggle="tab" id="leases"><i
							class="fa fa-suitcase pull-left font14 marg_top4"> </i>Leases </a></li>
					<li class="" name="propertyNav"><a href="#expenses" data-toggle="tab" id="expenses"><i 
							class="fa fa-dollar pull-left font14 marg_top4"></i>Expenses </a></li>
					<li class="" name="propertyNav"><a href="#messages" data-toggle="tab" id="messages"><i
							class="fa fa-envelope pull-left font14 marg_top4"> </i>Messages </a></li>
							
					<li class="" name="propertyNav"><a href="#rehabrepair" data-toggle="tab" id="rehabrepair"><i class="fa fa-wrench pull-left font14 marg_top4">
                                </i>Rehab/Repairs </a></li>
							
					<!--<li class="" name="propertyNav"><a href="#tab_6_4" data-toggle="tab"><i
							class="fa fa-wrench pull-left font14 marg_top4"> </i>Repairs </a></li>-->
					<li class="" name="propertyNav"><a href="#calendar" data-toggle="tab" id="calendar"><i
							class="fa fa-calendar pull-left font14 marg_top4"> </i>Tasks </a></li>
					<li class="" name="propertyNav"><a href="#tab_6_6" data-toggle="tab" id="documents"><i
							class="fa fa-file-text pull-left font14 marg_top4"> </i>Documents
					</a></li>
					<li class="" name="propertyNav"><a href="#contacts" data-toggle="tab" id="contact"><i
							class="fa fa-phone pull-left font14 marg_top4"> </i>Contacts </a></li>
					
				</ul>
				<div class="tab-content" style="width: 100%; margin-top: 20px;">
					<!-- Financial tab start -->
					<div class="tab-pane" id="AMAgreementsTab" name="infoTab">
					</div>
					<div class="tab-pane" id="financialTab" name="infoTab">
					</div>
					<div class="tab-pane" id="leasesTab" name="infoTab">
					</div>
					<div class="tab-pane" id="expensesTab" name="infoTab">
					</div>
					<div class="tab-pane" id="messagesTab" name="infoTab">
					</div>
					<div class="tab-pane" id="rehabrepairTab" name="infoTab">
					</div>
					<div class="tab-pane" id="calendarTab" name="infoTab">
					</div>
					<div class="tab-pane" id="contactsTab" name="infoTab">
					</div>
					<div class="tab-pane" id="documentsTab" name="infoTab">
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div id="propertyInsuranceRenderDiv"></div>
<div id="propertyTaxRenderDiv"></div>
<div id="propertyHoaRenderDiv"></div>
<div id="addUnitsRenderDiv"></div>
<div id="initiateMarketingDiv"></div>

