<div class="modal fade bs-modal-lg with-popover" id="propertyInsuranceModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg insuranceModal">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                </button>
                <h3 class="modal-title">
                    Property Insurance
                </h3>
            </div>
            <div class="modal-body clearfix">
                <button type="button" id="addNewInsurance" class="btn blue margin-bottom-15">
                    Add New Insurance
                </button>
                <div class="tabbable-custom">
                    <ul class="nav nav-tabs" id="insuranceListUL">
                    </ul>

                    <div class="tab-content" id="insuranceListTab">
                    </div>
                    
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn default" type="button">
                    Cancel</button>
                <!-- <button class="btn blue" type="button" id="savePropertyInsurance">
                    Save</button> -->
            </div>

        </div>
    </div>
<!-- /.modal-content -->
<!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-sm" id="deleteInsPaymentModal" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">Are you sure want to delete this?</div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="deleteInsPaymentConfirmBtn">Yes</button>
                <button type="button" class="btn default" data-dismiss="modal">No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>