<div aria-hidden="true" role="basic" tabindex="-1" id="REPAIRS_REQUEST_POPUP_1" class="modal fade bs-modal-lg with-popover">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
        <h3 class="modal-title">
            Request for Repairs</h3>
    </div>
    <div class="modal-body clearfix">
      <div class="col-md-12">
        <div id="inspectionDocument" class="pull-right"></div>
      </div>
      <div class="clearfix"></div>
      <div class="table-responsive marg_top10">
          <table class="table table-striped table-bordered table-advance tablegreen" id="inspectionTableRR">
              <thead>
                <tr>
                  <th width="10%"> Issue Source </th>
                  <th width="20%">Category </th>
                  <th width="25%">Description</th>
                  <th width="10%">Estimate</th>
                  <th width="25%">Comments</th>
                  <th  width="5%">   Inspection Page No.  </th>
                  <th width="5%"></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
          </table>
      </div>

      <div class="margin-bottom-10 marg_top20">
        <form class="milestone-form col-md-5" method="post">
        	<input type="hidden" id="object" name="object"> 
        	<input type="hidden" id="objectId" name="objectId"> 
        	<input type="hidden" id="taskKey" name="taskKey">
        	
            <div class="col-md-12 form-group  margin-bottom-10">
                <label class="pad_leftright0 pad_top10 control-label">
                    Completion Date <span class="required">* </span>
                </label>
                <div class="">
                    <div class="input-group input-medium date date-picker col-md-10" data-date-format="mm-dd-yyyy" data-date-viewmode="years" data-date-autoclose="true">
                        <input type="text"  class="form-control" id="endDate" name="endDate">
                                               <span class="input-group-btn">
                                                     <button type="button" class="btn default">
                                                         <i class="fa fa-calendar"></i>
                                                     </button>
                                               </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group col-md-12">
                <label class="control-label"> Comments
                    		<a class="fa fa-comments-o pull-right showMessageTooltip"
                            style="cursor: pointer; font-size: 14px;" data-html="true"
                            data-show="true"> <i>Show past comments</i></a>
                </label><br>
                <textarea class="form-control" name="comments" rows="3"></textarea>
            </div>
        </form>  

        <div id="uploadformRequestRepairs"></div>
        <div class="docusignEnvelopeArea"></div>

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">
          Cancel</button>
      <button type="button" class="btn blue" id="requestForRepairsPopupSubmitButton">
          Save</button>
    </div>
  </div>
  </div>
</div>
    
<div class="modal fade bs-modal-sm" id="inspectionDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true"></button>
          <h4 class="modal-title">
            <i class="fa fa-times"></i> Delete Inspection Category
          </h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" id="inspectionDeleteYesBtn">
            Yes</button>
          <button type="button" class="btn default" data-dismiss="modal">
            No</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    
